.login-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#00205f, #6788df);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
}

.login-title {
  color: white;
  font-size: 40px;
  margin: 0;
}

.login-subtitle {
  color: white;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.login-box {
  background: #0a2364;
  width: 380px;
  padding: 25px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top {
  background: #6fa3ff;
  padding: 10px 25px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  border: 2px solid #dbe7ff;
  margin-bottom: 25px;
  text-align: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  background: #6fa3ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.login-form input::placeholder {
  color: #e4e9ff;
}

.login-btn {
  background: #6fa3ff;
  border: none;
  padding: 10px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.login-btn:hover {
  background: #8ab8ff;
}
