
.meusdados-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 150px;
  overflow: visible !important;
}


.meusdados-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 30px 0;
}

.meusdados-tabs button {
  background: #6fa3ff;
  border: none;
  padding: 8px 25px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.meusdados-tabs button:hover {
  background: #8bb7ff;
}

.meusdados-tabs button.active {
  background: #8ab0ff;
  border: 2px solid #c9d9ff;
}


.meusdados-box {
  background: #0a2364;
  padding: 35px 25px;
  border-radius: 15px;
  margin-top: 30px;
}

.linha {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.linha input {
  flex: 1;
}

.meusdados-box input,
.meusdados-box textarea {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  outline: none;
  color: black;
}

.meusdados-box textarea {
  resize: none;
  height: 70px;
  margin-bottom: 20px;
}


.subtitulo {
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}


input[type="file"] {
  background: white;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 25px;
}


.add-btn,
.salvar-btn {
  background: #6fa3ff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover,
.salvar-btn:hover {
  background: #8bb7ff;
}

.salvar-btn {
  display: block;
  margin: 20px auto;
}


.enderecos-tabela-area {
  width: 100%;
  margin-top: 40px;
}

.enderecos-tabela {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background: rgba(255,255,255,0.15);
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.enderecos-tabela th,
.enderecos-tabela td {
  padding: 12px;
}

.enderecos-tabela th {
  background: rgba(255,255,255,0.25);
  font-weight: bold;
}

.enderecos-tabela tr:nth-child(even) {
  background: rgba(255,255,255,0.08);
}

.tabela-excluir {
  background: #ff5d5d;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.tabela-excluir:hover {
  background: #ff3333;
}


.texto-tabela-vazia {
  color: white;
  opacity: 0.8;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
}


.meusdados-empty {
  background: #0a2364;
  padding: 50px;
  border-radius: 15px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  opacity: 0.85;
}
